[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
gql = {extras = ["all"], version = "*"}
mysql-connector-python = "*"
tqdm = "*"
requests = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
